<div class="container">
  <h1>Nearby Events</h1>

  <div id="events-container">
    {{#if noEvents}}
      <p>No events found for the current location.</p>
    {{else}}
      <p>Loading events...</p>
    {{/if}}
  </div>
<script src="/js/geolocation.js"></script>